:root {
  --my-green: #A9BCD0;
  --my-blue: #373F51;
  --my-yellow: #D8DBE2; 
   --my-lightblue: #58A4B0; 
   --my-lightyellow: #D8DBE2;
   --my-text: black;
    --my-heading:  #373F51;
   --my-heading-text: white;
   
}