:root {
  --my-green: #B27092;
  --my-blue: #512D38;
  --my-yellow: #FFE9F3; 
   --my-lightblue: #F4BFDB; 
   --my-lightyellow: #FFE9F3;
   --my-text: black;
    --my-heading: #512D38;
   --my-heading-text: white;
}