:root {
    --my-text: black;
    --my-heading: #004d99 ;
    --my-heading-text: white;
    --my-green: #80EC82;
    --my-purple: #C280FF;
    --my-orange: #FACD91;
    --my-blue: #80FFFF;
    --my-red: #F95B5B;
}