{% extends 'layout.html.twig' %}

{% block rightbox %}
    <div class='site-home'>
        <div class='form-container'>
            <div class='image-holder'></div>
            <form action="../app/routes/test" method='post' name=login' autocomplete='off'>
                <h2 class='text-center'><strong>Login</strong></h2>
                <br> <br>
                <br> <br>
                <div class='form-group'><label><input class='form-control' type='text' name='email' placeholder='Email' autocomplete='new-password'></label></div>
                <br> <br>
                <div class='form-group'><label><input class='form-control' type='password' name='password' placeholder='Password' autocomplete='new-password'></label></div>
                <a id = 'lostpassword' class='already' onclick = 'getOption(this.id)' >Forgotten your password - <strong>Click here</strong></a>
                <br> <br>
                <div class='form-group'><button class='btn btn-primary btn-block' type='submit'>Login</button></div>
                <br> <br>
                <a id = 'register' class='already' onclick = 'getOption(this.id)' >Not Registered - <strong>Click here</strong></a>
            </form>
        </div>
    </div>";

{% endblock %}