<h2 id='right_head' class='text-center'><strong>Text</strong> search!</h2>
<div class='form-group mb-0 pb-0'>

    <div  class='form-group my-0 py-0'><label for='host' >Hosted by:
            <input class='form-control' type='text' id='host' name = 'host'   minlength = '5' maxlength = '50' value='Gordon Conway'
                   title= 'Type name to search ...' autocomplete='new-password'></label></div>

    <div class='container  mx-auto row' style='width: 200px' ><button id='submit' onclick='routeUpload()' class='btn btn-primary btn-block'
                                                                      type='button' >Submit Route Details</button></div>
    <div id='output' style='display: none'></div>

</div>